a[aria-expanded=true] .glyphicon-chevron-right {
  display: none;
}

a[aria-expanded=false] .glyphicon-chevron-down {
  display: none;
}

.text-as-label {
  font-weight: bold;
}

h3 + .table.analytics {
  margin-top: $padding-large-vertical * 2;
}

.table.analytics {
  background-color: $table-bg-accent;

  .value {
    color: $gray-dark;
    font-size: $font-size-h2;
    font-weight: 700;
    padding-bottom: 0;
  }

  + h4 {
    margin-top: $padding-large-vertical * 4;
  }
}

[data-behavior="translation-progress"] .badge {
  background-color: $gray-lighter;
  border-radius: 3px;
  color: $black;
  font-weight: normal;
}

#new_language {
  margin-bottom: $padding-large-vertical * 3;
}

.translation-subheading {
  font-size: $font-size-h3;
  margin-top: $padding-large-vertical * 3;
  padding-bottom: $padding-base-vertical;
}

.tanslation-description-toggle {
  background-color: transparent;
}

.panel-translation {
  background-color: $gray-lighter;
}

.exhibit-admin .callout-danger {
  background-color: $danger-red-background;
  border-color: darken($danger-red-background, 30%);
}

.nav-tabs > li.active > a {
  font-weight: 600;
}

.btn-link {
  color: $default-link-color;
}
