body {
  font-family: $font-family-sans-serif;
  margin-bottom: $footer-height + $footer-top-margin;

  @media (max-width: 991px) {
    margin-bottom: $footer-height + $footer-top-margin + $footer-mobile-adjustment;
  }
}

.facets-heading {
  @extend .h3;
  @include heading-with-border();
}

#facet-panel-collapse {
  padding-left: 0;
}

.top-panel-heading {
  padding: $padding-base-vertical 0;
}

.facets > .top-panel-heading {
  padding-top: 0;
}

.panel-default {
  > .panel-heading {
    background-color: $gray-lighter;
  }

  // Active facet panel
  &.facet_limit-active {
    border-color: $vatican-blue-alternate;

    > .panel-heading {
      background-color: lighten($vatican-blue-alternate, 10%);
      border-color: $vatican-blue;
      color: $base-background-color;

      &.collapse-toggle .panel-title:after {
        color: $base-background-color;
      }
    }
  }

  .facet-values li .selected {
    color: $gray-dark;
  }
}

.constraints-container {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding: $padding-base-vertical 0;
}

#per_page-dropdown .dropdown-toggle {
  color: $default-link-color;
}

.breadcrumb {
  border-bottom: 1px solid $navbar-inverse-link-color;
  border-radius: 0;
  padding-left: 0;
}

.blacklight-catalog-show {
  #content {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  .dl-horizontal {
    float: none;
    margin-top: 2 * $padding-large-vertical;
    width: 85ch;
  }
}

.thumbnail {
  border: 0;
}

#document {
  h1 {
    font-size: $font-size-h3;
  }

  h2 {
    font-size: $font-size-base;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.document-thumbnail img {
  max-height: 100px;
  max-width: 100%;
}

#documents {
  .document .document-title-heading,
  .index_title {
    font-size: $font-size-large;
    margin-top: 0;
  }

  .thumbnail,
  .document-thumbnail {
    img {
      @include thumbnail-image-border;
    }
  }

  &.documents-list {
    .document {
      box-sizing: content-box;
      min-height: 100px;
      padding-bottom: $padding-large-vertical;
      padding-top: $padding-large-vertical;
    }

    .document-counter {
      display: none;
    }

    .document-metadata {
      @extend .col-xs-8;
      @extend .col-md-9;
      @extend .col-xs-offset-3;
      @extend .col-sm-offset-2;
    }

    .document-thumbnail {
      float: none;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }

  &.gallery {
    .thumbnail {
      border: 0;
    }
  }
}

.blacklight-catalog-show .dl-horizontal {
  max-width: 90ch;
  width: 100%;
}
