.parts-section {
  padding-left: 0;
}

.part {
  @include part-divider(border-bottom);
  padding: 0;

  &:first-of-type {
    @include part-divider(border-top);
    margin-top: $padding-base-vertical;
  }

  h3 {
    color: $gray;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: $padding-base-vertical;
  }

  p {
    margin-bottom: 0;
  }

  .btn-link {
    float: right;
    font-size: $font-size-h6;
    padding: 0;
  }

  dl {
    margin-top: $padding-large-vertical;
  }
}

.part-header {
  padding: 3px 0 6px;

  .part-title {
    font-style: italic;
  }
}
