.mirador-source-location {
  legend {
    border: none;
    display: inline;
    float: left;
    padding-right: $padding-base-horizontal;
    width: auto;
  }
}

// 🧙‍♂️ https://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width
.form-inline {
  .input-group-btn.load-iiif-item-button {
    display: table-cell;
    width: 1%;
  }
}

.modal-dialog.mirador-modal {
  width: 90%;
  .modal-body {
    height: calc(100vh - 190px);
    overflow-y: scroll;
  }
}

.configure-mirador-button {
  margin-top: 40px;
}

.iiif-loading-alert {
    padding: 0;
}

.loading-indicator {
    width: 40px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    // should be good for all supported browsers:
    // https://caniuse.com/#feat=css-animation
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
