/*
*= require blacklight_gallery
*= require blacklight_oembed
*= require openseadragon
*/

// Override before importing Blacklight
$logo-image: image-url('dvl_logo.png') !default;

@import 'blacklight';
@import 'spotlight';
@import "modules/mixins";
@import "modules/blacklight_overrides";
@import "modules/parts_section";
@import 'modules/header';
@import 'blocks/mirador_block';
@import 'modules/metadata_details_btn';
@import 'modules/collapse';
@import 'modules/site_home';
@import 'modules/headings';

.mirador-embed-wrapper {
  height: 60vh;
}

#solr_document_sidecar_data_curatorial_narrative_tesim + .help-block {
  display: none;
}
