@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight/hierarchy/hierarchy';

#facets {
  ul.facet-hierarchy {
    padding-left: 15px;
    margin-left: 0;
    .twiddle {
      cursor: pointer;
    }
  }
}
